{
  "result": {
    "info": {
      "counters": {
        "rpc": {
        },
        "work_queue": {
        },
        "subscriptions": {
          "ledger": 0,
          "transactions": 0,
          "transactions_proposed": 0,
          "manifests": 0,
          "validations": 0,
          "account": 0,
          "accounts_proposed": 0,
          "books": 0,
          "book_changes": 0
        }
      },
      "load_factor": 1,
      "clio_version": "1.0.3+7094f39",
      "validated_ledger": {
      },
      "cache": {
      },
      "etl": {
        "read_only": false
      }
    },
    "validated": true
  },
  "status": "success"
}

{{ report("Parsed version: " + $res.result.info.clio_version) }}
