{
    "result": {
        "account": "rpakCr61Q92abPXJnVboKENmpKssWyHpwu",
        "account_objects": "$array=40",
        "marker": "{{ store($res.result.marker, "Marker") }}", 
        "validated": true
    },
    "status": "success",
    "type": "response"
}
