{
    "result": {
        "account": "{{ account }}",
        "account_objects": "$array={{ first_limit }}",
        "validated": true
    },
    "status": "success"
}
{{ store($res.result.account_objects, "SecondObjects") }}
