{
    "result": {
        "account": "rpakCr61Q92abPXJnVboKENmpKssWyHpwu",
        "account_objects": "$array=100",
        "marker": "$string",
        "validated": true
    },
    "status": "success",
    "type": "response"
}
