{
    "result": {
        "index": "B603682BC36F474F708E1A150B7C034C6C13D838C3F2F135CDB7BEA6E5B5ACEF",
        "node": {
        "Account": "{{ account }}",
        "Flags": 0,
        "LedgerEntryType": "Ticket",
        "OwnerNode": "0",
        "PreviousTxnID": "7458B6FD22827B3C141CDC88F1F0C72658C9B5D2E40961E45AF6CD31DECC0C29",
        "PreviousTxnLgrSeq": 76567735,
        "TicketSequence": {{ seq }},
        "index": "B603682BC36F474F708E1A150B7C034C6C13D838C3F2F135CDB7BEA6E5B5ACEF"
        }
    },
    "status": "success"
}
