{
    "result": {
        "account": "{{ account }}",
        "balances": {
            "{{ hotwallets.0 }}": [
                {
                    "currency": "POO",
                    "value": "999925000"
                },
                {
                    "currency": ")))",
                    "value": "999850000"
                }
            ]
        },
        "ledger_hash": "$string",
        "ledger_index": "$int",
        "obligations": {
            ")))": "150000",
            "POO": "75000"
        },
        "validated": true
    },
    "status": "success",
    "type": "response"
}
