{
    "result": {
        "ledger_index_max": {{ storeAndReturn($res.result.ledger_index_max, "LedgerIndexMax") }},
        "ledger_index_min": {{ storeAndReturn($res.result.ledger_index_min, "LedgerIndexMin") }},
        "validated": true
    },
    "status": "success",
    "type": "response"
}
