{
    "result": {
        "info": {
            "cache": {
                "is_full": "$bool",
                "latest_ledger_seq": "$uint",
                "object_hit_rate": "$double",
                "size": "$uint",
                "successor_hit_rate": "$double"
            },
            "clio_version": "$string",
            "complete_ledgers": "$string",
            "load_factor": "$uint",
            "validated_ledger": {
                "age": "$uint",
                "base_fee_xrp": "$double",
                "hash": "$string",
                "reserve_base_xrp": "$double",
                "reserve_inc_xrp": "$double",
                "seq": "$uint"
            }
        },
        "validated": true
    },
    "status": "success",
    "type": "response"
}
